@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Calendar";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

@foreach (var Circuit in Model)
{
    <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
        <div class="col-md-2 text-center">
            @if (!string.IsNullOrEmpty(Circuit.ImageUrl))
            {
                <img src="@Circuit.ImageUrl" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="@Circuit.CircuitName" />
            }
            else
            {
                <img src="~/img/no-image-available-02.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
            }
        </div>
        <div class="col-md-4 text-start">
            <h5 class="mb-0">@Circuit.CircuitName</h5>
        </div>
        <div class="col-md-2 text-start">
            <h5 class="mb-0">@Circuit.EventDate.ToString("d")</h5>
        </div>
    </div>
}
