@model IPagedList<F1_Web_App.Models.EventViewModel>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Events";
    var selectedYear = ViewBag.SelectedYear as int?;
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
    <form method="get" asp-action="List">
        <select name="year" onchange="this.form.submit()" class="form-select">
            <option value="">All Years</option>
            @foreach (var year in ViewBag.Years)
            {
                if (year == selectedYear)
                {
                    <option value="@year" selected>@year</option>
                }
                else
                {
                    <option value="@year">@year</option>
                }
            }
        </select>
    </form>
</div>
<hr />

@foreach (var Event in Model)
{
    <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
        <div class="col-md-2 text-center">
            @if (!string.IsNullOrEmpty(Event.ImageUrl))
            {
                <img src="@Event.ImageUrl" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="@Event.CircuitName" />
            }
            else
            {
                <img src="~/img/no-image-available-02.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
            }
        </div>
        <div class="col-md-4 text-start">
            <h5 class="mb-0">@Event.CircuitName</h5>
        </div>
        <div class="col-md-4 text-start">
            <h5 class="mb-0">@Event.EventDate.ToShortDateString()</h5>
        </div>
        <div class="col-md-2 text-end">
            <a href="@Url.Action("List", "Results", new { id = Event.Id })" class="btn btn-primary">Details</a>
        </div>
    </div>
}

<div>
    @Html.PagedListPager(Model, page => Url.Action("List", new { page, year = selectedYear }))
</div>
