@model IEnumerable<F1_App.Data.Models.Driver>

<h1>Drivers</h1>
<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Driver Number</th>
            <th>Name</th>
            <th>Nationality</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                <td><img src="@driver.PhotoUrl" alt="@driver.Name" width="100" /></td>
                <td>@driver.DriverNumber</td>
                <td>@driver.Name</td>
                <td>@driver.Nationality</td>
                <td>@driver.Team</td>
            </tr>
        }
    </tbody>
</table>
