@model IEnumerable<F1_Web_App.Models.DriverListViewModel>

@{
    ViewData["Title"] = "Drivers";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

@foreach (var driver in Model)
{
    <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
        <div class="col-md-2 text-center">
            @if (!string.IsNullOrEmpty(driver.ImageUrl))
            {
                <img src="@driver.ImageUrl" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="@driver.Name" />
            }
            else
            {
                <img src="~/img/no-image-available-02.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
            }
        </div>
        <div class="col-md-4 text-start">
            <h5 class="mb-0">@driver.Name</h5>
        </div>
        <div class="col-md-2 text-center">
            <h5 class="mb-0">#@driver.DriverNumber</h5>
        </div>
        <div class="col-md-4 text-end">
            <h5 class="mb-0">@driver.TeamName</h5>
        </div>
    </div>
}
